@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

* {
  margin: 0;
  font-family: 'Kite One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 1em;
}

ul li p {
  margin: 0;
  font-size: 24px;
}

ul li span {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1em;
}

.hooks {
  font-size: 2rem;
  background: rgb(20, 20, 50);
  padding: 0.4em 1em;
  margin: 1em 0;
}

input {
  padding: 6px 10px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 1em;
}