@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');

* {
  margin: 0;
  font-family: 'Kite One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  margin: 1em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: .8em;
}

ul li p {
  margin: 0;
}

ul li span {
  font-size: 14px;
}